$color-background-medium-grey: #5c5b5b;

$color-background-teal : #009bc1;
$color-background-light-teal : #e4f3f7;
$color-background-off-white : #f7f7f7;
$color-background-light-grey : #eeeeee;

$color-primary-white : #ffffff;
$color-primary-dark-grey : #222222;

$font-family-primary : DM Sans Bold,
sans-serif;

$grid-width: 114rem;
$gutter-vertical : 8rem;
$gutter-horizontal : 6rem;

$btn-padding : 1rem;