body {
    font-family: "Lato",
    sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-primary-white;
    text-align: center;
}

h1 {
    font-size: 5rem;
    color: $color-primary-dark-grey;
}

h2 {
    font-size: 3.4rem;
    color: $color-background-medium-grey;
    text-align: left;
}