*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

input {
  border: 1px solid #eeeeee;
  background-color: #eeeeee;
  height: 1rem;
  padding: 2.4rem;
  font-size: 1.8rem; }

.btn {
  border: none;
  padding: 1rem;
  border-radius: .5rem;
  font-size: 2rem;
  cursor: pointer; }

::placeholder {
  font-size: 1.5rem;
  color: #5c5b5b; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #ffffff;
  text-align: center; }

h1 {
  font-size: 5rem;
  color: #222222; }

h2 {
  font-size: 3.4rem;
  color: #5c5b5b;
  text-align: left; }

.u-margin-medium {
  margin: 2rem 0; }

.contact-form {
  width: 70vw;
  margin: 0 auto; }
  .contact-form .contact {
    box-shadow: 0 0.2rem 0.8rem rgba(92, 91, 91, 0.4);
    width: 70vw;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
    color: #222222;
    width: 100%;
    margin-bottom: 3rem; }
    .contact-form .contact__field-errors {
      padding: 1rem;
      border-radius: 1rem;
      margin-bottom: 2rem;
      font-size: 1.6rem; }
      .contact-form .contact__field-errors .field-error__list {
        padding: 0;
        list-style-type: square;
        color: red; }
    .contact-form .contact .input-field {
      width: 48%;
      display: inline-block;
      margin-bottom: 2rem;
      font-size: 1.6rem; }
      .contact-form .contact .input-field label {
        padding: 1rem 0; }
      .contact-form .contact .input-field input {
        width: 100%; }
    .contact-form .contact__full-name :last-child, .contact-form .contact__address-lines :last-child, .contact-form .contact__area :last-child, .contact-form .contact__country :last-child {
      float: right; }
    .contact-form .contact__controls--submit-btn {
      margin-right: 4rem;
      background-color: #e4f3f7;
      color: #009bc1; }
    .contact-form .contact__controls--clear-btn {
      background-color: #eeeeee;
      color: #5c5b5b; }
    .contact-form .contact__controls {
      margin: 2rem 0; }
      border
.contact-form .contact__controls--btn {
        background-color: #e4f3f7;
        color: #009bc1;
        margin-top: 4rem; }
      .contact-form .contact__controls--btn:last-child {
        margin-left: 2rem;
        background-color: #eeeeee;
        color: #5c5b5b; }
    .contact-form .contact__country--autoSuggest-container {
      display: block; }
      .contact-form .contact__country--autoSuggest-container .react-autosuggest__container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%; }
        .contact-form .contact__country--autoSuggest-container .react-autosuggest__container .countryAutoSuggestion {
          display: inline-block;
          width: 100%;
          left: 0;
          font-size: 1.6rem;
          padding: .4rem 0;
          background-color: white;
          position: absolute; }
      .contact-form .contact__country--autoSuggest-container .react-autosuggest__suggestions-container--open {
        width: 100%;
        position: absolute; }
      .contact-form .contact__country--autoSuggest-container .react-autosuggest__suggestions-list {
        padding: 1rem; }

.find-address {
  width: 70vw;
  margin: 0 auto; }
  .find-address__form {
    position: relative;
    margin-bottom: 2rem; }
    .find-address__form--input-field {
      width: 100%;
      display: grid;
      grid-template-columns: minmax(min-content, 1fr);
      grid-gap: 3rem;
      align-items: center;
      justify-content: center; }
      .find-address__form--input-field label {
        font-size: 1.6rem;
        color: #222222; }
      .find-address__form--input-field-btn {
        background-color: #e4f3f7;
        color: #009bc1;
        box-shadow: none; }

.suggestions {
  position: absolute;
  top: 5rem;
  border: 1px solid #ececec;
  width: 100%;
  padding: 2rem 0;
  background-color: #ffffff;
  z-index: 10; }

.address-select {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: #5c5b5b;
  cursor: pointer;
  text-align: left; }
  .address-select:not(:last-child) {
    border-top: 1px solid #eeeeee; }
  .address-select:last-child {
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee; }
  .address-select:hover {
    background-color: #009bc1;
    color: #ffffff;
    border: none; }

.container {
  width: 100vw; }
  .container h1 {
    margin-bottom: 4rem;
    color: #009bc1; }

.error {
  color: orangered; }

.addresses {
  width: 70vw;
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: left;
  color: #222222; }
  .addresses__search-box {
    margin-bottom: 2rem; }
    .addresses__search-box input {
      width: 100%; }
  .addresses__list {
    padding: 1rem 2rem;
    margin: 2rem 0;
    box-shadow: 0 0.2rem 0.8rem rgba(92, 91, 91, 0.4); }
    .addresses__list span {
      display: inline-block;
      width: 10rem;
      font-weight: 800; }
  .addresses h3 {
    padding: 2rem;
    border-bottom: 1px solid #eeeeee; }
  .addresses a {
    text-decoration: none;
    color: #222222; }

.contact {
  text-align: left;
  width: 70vw;
  margin: 0 auto; }
  .contact h2 {
    margin: 2rem 0 5rem 0; }
  .contact__list {
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #222222; }
    .contact__list .list-item {
      padding: .2rem 0; }
      .contact__list .list-item span {
        display: inline-block;
        width: 15rem;
        font-weight: 800;
        color: #121212; }

.header {
  height: 10vh;
  box-shadow: 0 0.2rem 1rem rgba(34, 34, 34, 0.2);
  font-size: 2rem;
  text-align: left;
  margin-bottom: 5rem; }
  .header .container {
    width: 70vw;
    margin: 0 auto; }
  .header a {
    display: inline-block;
    padding: .6rem 2rem;
    margin: 4rem 1rem 1rem 0;
    text-decoration: none;
    color: #222222; }
