.address-form {
    width: 70vw;
    margin: 0 auto;
}

.form {
    box-shadow: 0 .2rem .8rem rgba($color-background-medium-grey, .4);
    width: 70vw;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;

    .contact {
        color: $color-primary-dark-grey;
        width: 100%;
        margin-bottom: 3rem;

        &__full-name, 
        &__address-lines,
        &__area,
        &__country {
            & > * {
                display: inline-block;
                width: 50%;

                & > * {
                    display: block;
                }

                label {
                    font-size: 1.6rem;
                    padding: .4rem 0;
                }

                input {
                    width: 95%;
                    margin-bottom: 0;
                }
            }

            .last-name,.post-town {
                label {
                    margin-left: 5%;
                }
            }
        }

        &__last-name {
            margin-left: 5%;
        }

        &__address-lines >:last-child,
        &__area >:last-child,
        &__country >:last-child {
            * {
                margin-left: 5%;
            }
        }

        &__country >:first-child,
        &__area >:first-child {
            input {
                margin-left: 0;
                width: 95%;
                margin-bottom: 0;
            }
        }
    }

    &__controls {
        margin: 2rem 0;

        &--btn {
            background-color: $color-background-light-teal;
            color: $color-background-teal;
            margin-top: 4rem;
        }

        &--btn:last-child{
            margin-left: 2rem;
            background-color: $color-background-light-grey;
            color: $color-background-medium-grey;
        } 
    }

    .input-errors {
        position: relative;
        top: -1rem;
        display: inline-block;
        width: 100%;
    }
}

.field-error {
    list-style:square;
    
    &__list {
        display: block;
        text-align: left;
        padding: .6rem;
        font-size: 1.4rem;
    }
}