.contact-form {
    width: 70vw;
    margin: 0 auto;

    &__form-container {
        box-shadow: 0 .2rem .8rem rgba($color-background-medium-grey, .4);
        padding: 4rem;
    }

    .contact {
        width: 70vw;
        margin: 0 auto;
        padding: 4rem;
        display: grid;
        align-items:flex-end;
        align-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, minmax(min-content 1fr));
        grid-gap: 3rem;
        border-radius: .4rem;
        border: 1px solid #cdcdcd;

        color: $color-primary-dark-grey;
        width: 100%;
        margin-bottom: 3rem;

        &__field-errors {
            padding: 1rem;
            border-radius: 1rem;
            margin-bottom: 2rem;
            font-size: 1.6rem;

             .field-error__list {
                padding: 0;
                color: blue;
            }
        }

        .input-field {
            font-size: 1.6rem;
            position: relative;

            label {
                padding: 1rem 0;
            }

            input {
                width: 100%;
                border-radius: .4rem;
                margin-top: 1rem;
            }

            input:focus {
                border: 1px solid rgb(140, 241, 140);
                background-color: rgb(240, 250, 240);

            }
        }

        &__controls {
            grid-column: 1/-1;
            grid-row: 5/6;

            &--submit-btn {
                margin-right: 3rem;
            }
        }

        .line1Error input, 
        .townCityError input,
        .countryError input,
        .postCodeError input, 
        .line1Error input::placeholder,
        .townCityError input::placeholder,
        .countryError input::placeholder,
        .postCodeError input::placeholder {
            color: #fa392b;
            background-color: #fcf6f6;
        }

        .line1Error input, 
        .townCityError input,
        .countryError input,
        .postCodeError input {
            border: 1px solid #fcd4d4;
        }

        

        span.required {
            position: absolute;
            right: 0;
            top: 0;
            color: #fa392b;
            font-style: italic;
            font-size: 1.2rem;
        }

        &__full-name--first-name {
            //border: 1px solid blue;
        }

        &__country--autoSuggest-container {
            display: block;

            .react-autosuggest__container {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;

                .countryAutoSuggestion {
                    display: inline-block;
                    width: 100%;
                    left: 0;
                    font-size: 1.6rem;
                    padding: .4rem 0;
                    background-color: rgb(255, 255, 255,);
                    position: absolute;
                }
            }

            .react-autosuggest__suggestions-container--open {
                width: 100%;
                position: absolute;
            }

            .react-autosuggest__suggestions-list {
                padding: 1rem;
            }
        }
    }
}