.suggestions {
    position: absolute;
    border: 1px solid #cdcdcd;
    background-color: $color-primary-white;
    z-index: 100;
}

.address-select {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    color: $color-background-medium-grey;
    cursor: pointer;
    text-align: left;

    &:not(:last-child){
        border-top: 1px solid $color-background-light-grey;
    }

    &:last-child {
        border-bottom: 1px solid $color-background-light-grey;
        border-top: 1px solid $color-background-light-grey;
        ;
    }

    &:hover {
        background-color: $color-background-teal;
        color: $color-primary-white;
        border: none;
    }
}

.address-select:last-child {
}